.block {
  display: flex;
  margin-bottom: 30px;
}

.block-title {
  min-width: 20%;
}

.language-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.language-item {
  padding: 5px 10px;
}

.public-block {
  padding: 0 20px;
  max-width: 80%;
}

.color-h4 {
  color: #0078ff;
}


@media (max-width: 600px) {
  .block {
    flex-direction: column;
    align-items: center;
  }

  .block-title, .public-block {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}