html, body {
  padding: 0;
  margin: 0;
  color: #333;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: #3a6186;
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  background: linear-gradient(to right, #89253e, #3a6186);
}

.WrapperCart {
  width: 600px;
  height: fit-content;
  padding: 25px 40px;

  background: #ffffff;
  margin: 40px 0;
}

@media (max-width: 900px){
  .WrapperCart {
    width: 80vw;
  }
}

.color-link {
  color: #0078ff;
}

.m-o {
  margin: 0;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-0 {
  margin-top: 0;
}