.list-repo-block {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
}

.list-repo-item {
  margin: 0 0 10px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.list-repo-item h5 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.repo-link {
  margin-left: 5px;
}

.name-repo {
  color: #822b47;
  margin-bottom: 10px;
  font-size: 20px;

  text-decoration: none;
}